/*Khai báo file css dùng cho nhiều trang web*/
h1
{
    color:blue;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial;
}

h2
{
    color:orange;
    font-size:28px;
    font-weight: bold;
}

a
{
    text-decoration: none;
    font-size: 16px;
}

a:hover
{
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

#menu
{
    display:block;
    width: 80%;
    height: 50px;
    background-color: navy;
    font-size: 16px;
    margin-left: auto;
    margin-right:auto;
}

#menu li
{
    list-style: none;
    float: left;
    color: #fff;
    width: 100px;
    padding-top: 10px;
}

#menu li a
{
    float: left;
    color: #fff;
}

#menu li a:hover
{
    color:maroon;
    background-color: antiquewhite;
    padding: 5px;
}